.clan-members-container {
  display: grid;
  grid-template-columns: 0.5fr;
  direction: rtl;
  overflow-y: auto;
  height: 70vh;
  max-height: 70vh;
  justify-items: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.members-grid {
  display: grid;
  grid-template-columns: 0.5fr;
  justify-items: left;
  gap: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

.warn {
  color: rgb(255, 255, 255);
  text-align: center;

}

.loading {
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Define a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Estiliza a trilha (fundo da barra) */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
  border-radius: 10px;
}

/* Estiliza a alça da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7d0fff, #ffdd00);
  border-radius: 10px;
}

/* Estiliza a alça ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #ffdd00;
}

/* Estiliza os cantos da barra (caso haja rolagem horizontal + vertical) */
::-webkit-scrollbar-corner {
  background: #666;
}

/* Estiliza o "resizer" (canto inferior direito redimensionável) */
::-webkit-resizer {
  background: #ff5722;
}

