<div class="clan-members-container">
  <div>

    <div class="loading" *ngIf="loading">Carregando membros...</div>

    <div class="members-grid" *ngIf="!loading && members.length > 0">
      <app-clan-member-card
        *ngFor="let member of members"
        [member]="member"
      ></app-clan-member-card>
    </div>

    <div class="warn" *ngIf="!loading && members.length === 0">
      Nenhum membro encontrado.
    </div>

    <div class="error" *ngIf="error" >
      {{ error }}
    </div>
  </div>
</div>
