main{
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  height: 93vh;
}

.left-section{
  display: flex;
  height: 93vh;
  width: 20%;
  background-color: blueviolet;
  left: 0;
}

.right-section{
  display: flex;
  height: 93vh;
  width: 80%;
  background-color: #9fe22b;
  left: 0;
}
